@charset "utf-8";
/* utf-8 사용 해야함 */

/* < css 시작전 유의사항 : 와이어 프레임만 적용하기 위하여  border: 1px solid #333;을 사용함 실제로는 적용 x > */

/* 여기서 전체 공통으로 먹여줘야 하는것들이 있음 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* 이번 유형의 기본텍스트 색은 #333333임 */
    color: #333333;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    border: 1px solid #333;
    width: 100%;
    height: 100px;
}

.logo {
    float: left;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    width: 200px;
    height: 100px;
}


.menu {
    border: 1px solid #333;
    float: right;
    margin: 20px 20px 0 0;
    width: 800px;
    height: 50px;
}

.slide {
    border-right: 1px solid #333; 
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    width: 100%;
    height: 300px;
}

.contents {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
}


.notice {
    border-right: 1px solid #333;
    width: 400px;
    height: 100%;
}


.banner {
    border-right: 1px solid #333;
    width: 400px;
    height: 100%;
}

.go {
    width: 400px;
    height: 100%;
}

footer {
    border: 1px solid #333;
    width: 100%;
    height: 100px;
}

.flogo {
    float: left;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    width: 200px;
    height: 100px;
}

.fmenu {
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    float: right;
    width: calc(100% - 200px);
    height: 50px;
}


.copyright {
    border-right: 1px solid #333;
    float: right;
    width: calc(100% - 200px);
    height: 50px;
}
